* {
  box-sizing: border-box;
}

html,
body {
  margin: 1vh 0 0 0;
  padding: 0;
}

.main {
  max-width: 70vh;
  height: 95vh;
  margin: auto;
  padding-top: 5%;
  border: 5px ridge rgb(92, 5, 76);
  border-radius: 10vh;
  background-color: rgb(247, 233, 248);
}

.main_second {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 3vh;
}

h1 {
  text-align: center;
  color: rgb(121, 16, 93);
}

#input {
  width: 60vh;
  height: 3vh;
  border: 3px groove purple;
  border-radius: 30vh;
}

#button {
  width: 30vh;
  background-color: rgb(239, 144, 217);
  border-radius: 30vh;
  border: none;
}

#button:hover {
  transform: scale(1.2);
}

.List__task {
  color: rgb(121, 16, 93);
}

.done {
  text-decoration: line-through;
}